<h1> Edit Project </h1>
<%= form_with(model: @project, data: {turbo: false}) do |f| %>
  <fieldset class='mb-2'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset class='mb-2'>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </fieldset>
   <fieldset class='mb-2'>
    <h3>Developers</h3>
      <% @project.users.each do |dev| %>
        <%= f.label dev.full_name %>
        <%= f.check_box dev%>
        <br/>
        <br/>
      <% end %>
  </fieldset>
  <fieldset>
    <%= f.submit class: 'btn btn-warning'%>
  </fieldset>
<% end %>
