<h1> Edit Project </h1>
<%= form_with(model: @project, data: {turbo: false}) do |f| %>
  <fieldset class='mb-2'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset class='mb-2'>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </fieldset>
  <fieldset class='mb-2'>
    <%= f.label 'Completed?' %>
    <%= f.check_box :status %>
  </fieldset>
  <fieldset class='mb-2'>
    <h3>Developers</h3>
    <% @project.users.each do |user| %>
      <%= f.check_box :user_ids, { multiple: true }, user.id, nil %>
      <%= f.label user.full_name %>
    <% end %>
  </fieldset>
  <fieldset class='mb-2'>
    <%= f.submit class: 'btn btn-warning'%>
  </fieldset>
<% end %>
