<h1> Edit Project </h1>
<%= form_with(model: @project, data: {turbo: false}) do |f| %>
  <fieldset class='mb-2'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset class='mb-2'>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </fieldset>
  <h3>Developers</h3>
  <%= f.fields_for :users do |user_forms| %>
    <%= user_forms.label 'hey' %>
    <%= user_forms.check_box :_destroy %>
  <% end %>
  <br/>
  <br/>
  <fieldset>
    <%= f.submit class: 'btn btn-warning'%>
  </fieldset>
<% end %>
